<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="renderer" content="webkit">
    <title>每日一记</title>
    <link rel="stylesheet" href="../static/css/message.css" />
    <link rel="stylesheet" href="../static/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/layui/css/layui.css" />
    <link rel="stylesheet" href="../static/css/master.css" />
    <link rel="stylesheet" href="../static/css/gloable.css" />
    <link rel="stylesheet" href="../static/css/nprogress.css" />
    <link rel="stylesheet" href="../static/css/blog.css" />
</head>
<body>
<div class="header">
</div>
<div th:replace="common/header :: header"></div>
<div class="doc-container" id="doc-container">
    <div class="container-fixed">
        <div class="container-inner">
            <section class="msg-remark">
                <h1>每日一记</h1>
                <p>
                    那些过去的日子,都成为不可磨灭的记忆
                </p>
            </section>
            <div class="textarea-wrap message" id="textarea-wrap">
                <form class="layui-form blog-editor" action="/diary/saveDiary" method="post">
                    <div class="layui-form-item">
                        <textarea name="content" lay-verify="content" id="remarkEditor" placeholder="请输入内容" class="layui-textarea layui-hide"></textarea>
                    </div>
                    <div class="layui-form-item">
                        <button class="layui-btn" lay-submit="formLeaveMessage" lay-filter="formLeaveMessage">提交留言</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="f-cb"></div>

    </div>
</div>

<div th:replace="common/footer :: footer"></div>

<!--<script src="../static/js/message.js"></script>-->
<script src="../static/layui/layui.js"></script>
<script src="../static/js/yss/gloable.js"></script>
<script src="../static/js/plugins/nprogress.js"></script>

<script>NProgress.start();</script>
<script>
    window.onload = function () {
        NProgress.done();
    };
    layui.use(['element', 'jquery', 'form', 'layedit', 'flow'], function () {
        var element = layui.element;
        var form = layui.form;
        var $ = layui.jquery;
        var layedit = layui.layedit;
        var flow = layui.flow;
        //评论和留言的编辑器
        var editIndex = layedit.build('remarkEditor', {
            height: 150,
            tool: ['face', '|', 'link'],
        });
        //评论和留言的编辑器的验证
        form.verify({
            content: function (value) {
                value = $.trim(layedit.getContent(editIndex));
                if (value == "") return "请输入内容";
                layedit.sync(editIndex);
            },
            replyContent: function (value) {
                if (value == "") return "请输入内容";
            }
        });
       // 回复按钮点击事件
        // $('#message-list').on('click', '.btn-reply', function () {
        //     var targetId = $(this).data('targetid')
        //         , targetName = $(this).data('targetname')
        //         , $container = $(this).parent('p').parent().siblings('.replycontainer');
        //     if ($(this).text() == '回复') {
        //         $container.find('textarea').attr('placeholder', '回复【' + targetName + '】');
        //         $container.removeClass('layui-hide');
        //         $container.find('input[name="targetUserId"]').val(targetId);
        //         $(this).parents('.message-list li').find('.btn-reply').text('回复');
        //         $(this).text('收起');
        //     } else {
        //         $container.addClass('layui-hide');
        //         $container.find('input[name="targetUserId"]').val(0);
        //         $(this).text('回复');
        //     }
        // });
    });

</script>
</body>
</html>
