<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/static/font-awesome/css/font-awesome.min.css}">
<link rel="stylesheet" th:href="@{/static/layui/css/layui.css}">

<link rel="stylesheet" th:href="@{/static/css/gloable.css}" />
<link rel="stylesheet" th:href="@{/static/css/nprogress.css}" />
<link rel="stylesheet" th:href="@{/static/css/blog.css}" />

<link rel="stylesheet" th:href="@{/static/css/cntl.css}"  />
<link rel="stylesheet" th:href="@{/static/css/m.css}"  />



<script th:src="@{/static/layui/layui.js}"></script>
<script th:src="@{/static/js/yss/gloable.js}"></script>
<script th:src="@{/static/js/plugins/nprogress.js}"></script>
<script th:src="@{/static/js/pagecomment.js}"></script>

<script th:src="@{/static/js/jquery-3.3.1.min.js}"></script>
<script th:src="@{/static/js/wow.min.js}"></script>
<link th:href="@{/static/css/animate.min.css}" rel="stylesheet" type="text/css">
</html>