<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="renderer" content="webkit">
    <title>时间轴</title>
    <div ></div>

    <!--<link rel="stylesheet" href="../static/css/cntl.css" />-->
    <!--<link rel="stylesheet" href="../static/css/m.css" />-->
    <div th:replace="base::html"></div>
    <link rel="stylesheet" th:href="@{/static/css/master.css}">
    <link rel="stylesheet" th:href="@{/static/expend/timeLine/css/history.css}">
    <script th:src="@{/static/expend/timeLine/js/main.js}"></script>
    <script th:src="@{/static/js/diary.js}"></script>
    <script>NProgress.start();</script>
</head>
<body>
<div class="header">
</div>
<div th:replace="common/header :: header"></div>
<!--<h2 th:text="${map['message']}"></h2>-->
<article>
    <!--<h2 class="litle"><span>每个人心中都有一团火， 路过的人只看到烟。</span>心情</h2>-->
    <div class="jq22-container article-list">

        <div class="head-warp">
            <div class="head">
                <div class="nav-box">
                    <ul>
                        <li class="cur" style="text-align:center; font-size:62px; font-family:'微软雅黑', '宋体';">心里的记忆</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="main">
            <div class="history">
                <div class="history-date">
                    <ul th:each="data,dataStat:${datas}">
                        <h2 th:class="${dataStat.first?'first':'date02'}"><a href="#nogo" th:text="${data.year}">2012年</a></h2>
                        <li th:each="diary,diaryStat:${data.data}">
                            <h3 th:text="@{${#dates.format(diary.createTime,'MM-dd')}}">10.08</h3>
                            <dl>
                                <dt th:text="${diary.title}">发布全新的极速浏览器6.0版本</dt>
                            </dl>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
    </div>
</article>
    <div th:replace="common/footer :: footer"></div>
    <script>
        // window.onload = function () {
        //     NProgress.done();
        // };

        $(document).ready(function (e) {
            $('.cntl').cntl({
                revealbefore: 100,
                anim_class: 'cntl-animate',
                onreveal: function (e) {
                   // console.log(e);
                }
            });
        });
    </script>
</body>

</html>


